a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightgray;
}

.selected {
    background-color: crimson;
}

span {
    display: inline-block;
    width: fit-content;
    padding-left: 10px;
    padding-bottom: 5px;
}