<span class="tolt" *ngIf="loading">
    <mat-spinner></mat-spinner>
</span>

<div class="fo">
    <h1>Bejelentkezés</h1>
    <mat-form-field>
        <mat-label>Email: </mat-label><input matInput type="email" [formControl]="email" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password: </mat-label><input matInput type="password" [formControl]="password" />
    </mat-form-field>
    <span>
        <button mat-raised-button color="primary" (click)="login()">OK</button>
    </span>
</div>