span {
    padding: 5px;
    font-size: medium;
}

.extend {
    height: 100vh;
}

.extend div{
    margin-left: auto;
    width: fit-content;
    padding: 20px;
}

strong{
    color: #5FC378;
}

.content{
    padding: 10px;
    margin: auto;
}

#d {
    margin-left: 28px;
}

mat-expansion-panel-header{
    min-height: fit-content;
}

@media only screen and (max-width: 600px) {
    mat-expansion-panel-header{
        height: 110px !important;
    }
}

@media only screen and (max-width: 1300px ) {
    mat-expansion-panel-header{
        height: 80px;
    }
}